*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:url(../images/body_bg3.jpg);
}

.main{
    max-width: 1200px;
    margin: 0 auto;
}
.wapper{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: #fff;
}

/* header */
header{
    width: 100%;
    height: 15rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* nav */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
}
nav .navbar{
    display: flex;
    width: 80%;
}
nav > .navbar > li > a{
    display: block;
    padding: 1.4rem 1.6rem;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
nav > .navbar > li:hover{
    background-color: #555;
}
nav .navbar > li:first-child{
    background-color: rgb(65, 65, 255);
}
nav .navbar > li:last-child{
    z-index: 1000;
    position: relative;
}

/* Subnav */
nav .navbar > li:last-child:hover .subnav{
    display: block;
    width: 100%;
}

nav .subnav{
    position: absolute;
    background-color: #fff;
    display: none;
    box-shadow: 3px 6px 22px #666;
}

nav .subnav li:hover{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
nav .subnav li a{
    font-size: 1.7rem;
    color: #000;
    text-transform: uppercase;
    display: block;
    padding: 1.4rem;
}

/* dropdow */
nav .dropdow{
    max-width: 30%;
    display: none;
}

/* Slider-show */
.slide-show{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.slide-show .left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.slide-show .left .items{
    width: 49%;
    display: flex;
    border: 2px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
}
.slide-show .left .items .image{
    width: 45%;
}
.slide-show .left .items .image img{
    width: 100%;
}
.slide-show .left .items .heading{
    width: 55%;
    padding: 2rem;
}
.slide-show .left h2{
    font-size: 2rem;
    color: rgb(255, 59, 59);
    text-transform: uppercase;
}

.slide-show .left small{
    display: block;
    padding-top: 1rem;
    font-size: 1.2rem;

}

.slide-show .left .items .heading a{
    margin-top: 3rem;
    display: block;
    padding: 0.8rem 1rem;
    background-color: rgb(87 87 255);
    color: #fff;
    width: 80%;
    border-radius: 0.5rem;
    text-align: center;
}

.slide-show .right{
    width: 49%;
    height: auto;
}
.slide-show .right img{
    width: 100%;
    height: 96%;
}

/* products */
.news-product .heading{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 0;
}

.news-product .heading h2{
    color: rgb(53, 53, 255);
    font-size: 2.3rem;
}

.news-product .list-products{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 5rem;
}
.news-product .items{
    width: 25%;
    border: 2px solid;
    padding: 1rem;
    text-align: center;
}
.news-product .items h3,
.news-product .items strong{
    font-size: 2.3rem;
    color: rgb(255, 59, 59);
    text-transform: uppercase;
}

.news-product .items small{
    font-size: 1.2rem;
}

.news-product .items .order a{
    padding: 1.2rem 1rem;
    background-color: rgb(87 87 255);
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    display: block;
}
    
.news-product .items .images{
    width: 100%;
    margin-bottom: 2rem;
}
.news-product .items .images img{
    width: 100%;
}

.news-product .items .price{
    font-size: 2rem;
}

/* preview */
.preview{
    padding: 2rem;
    margin-bottom: 4rem;
}

.preview h2{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.preview .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.preview .container .image{
    width: 35%;
}

.preview .container .image img{
    width: 100%;
}

.preview .container .content{
    width: 64%;
}

.preview .content h3{
    font-size: 3rem;
    color: red;
    margin-bottom: 2rem;
}

.preview .content p{
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.preview  .option-product strong{
    font-size: 2rem;
    margin-bottom: 2rem;
    display: block;
}

.preview  .option-product .box{
    display: flex;
    margin-bottom: 4rem;
}

.preview .box label{
    margin-bottom: 1rem;
    display: block;
    font-size: 1.5rem;
}

.preview .box select{
    padding: 0.6rem;
}

.preview .box .quantity{
    margin-left: 3rem;
}

.preview .box .quantity input{
    padding: 0.5rem;
    width: 50%;
}

.preview button{
    display: flex;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: royalblue;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* payment */
.payment .box{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.payment span{
    font-size: 1.5rem;
    text-transform: uppercase;
    
}

.payment input{
    width: 60%;
    padding: 0.7rem;
    outline: none;
}

.payment select{
    width: 60%;
}

.payment strong{
    color: red;
}


/* ok-html */
.ok .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.ok .container p{
    font-size: 2rem;
}

.ok .container a{
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 1.5rem;
}



