<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Mobile-QT</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reponsive.css">
</head>
<body>
    <div class="main ok">
        <div class="wapper">
            <div class="container">
                <div class="image">
                    <img src="../images/s4.png" alt="">
                </div>
    
                <p>Bạn đã mua hàng thành công!!</p>

                <a href="../index.html"><i class="fas fa-arrow-left"></i> Quay lại</a>
            </div>

            
        </div>
    </div>
</body>
</html>