<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile-QT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reponsive.css">
</head>
<body>
    <div class="main">
        <div class="wapper">
            <!-- header -->
            <header>
                <a href="../index.html"><img src="../images/logo.png" alt="Logo smart store" class="logo"></a>
            </header>

            <!-- navigation -->
            <nav> 
                <i class="home fas fa-home"></i>

                <ul class="navbar">
                    <li><a href="../index.html">Trang chủ</a></li>
                    <li><a href="./products-new.html">Sản phẩm mới</a></li>
                    <li><a href="#">Chuyên mục theo sản phẩm</a>
                        <ul class="subnav">
                            <li><a href="./iphone.html">điện thoại Iphone</a></li>
                            <li><a href="./samsung.html">điện thoại Samsung</a></li>
                            <li><a href="./vinsmart.html">điện thoại Vinsmart</a></li>
                        </ul>
                    </li>
                </ul>

                <i class="bars fas fa-bars"></i>
            </nav>

            <!-- container-preview -->
            <section class="preview">
                <h2>Iphone</h2>

                <div class="container">
                    <div class="image">
                        <img src="../images/s4.png" alt="review iphone">
                    </div>

                    <div class="content">
                        <h3>Gía: 25.899.000đ</h3>
                        <p>KHUYẾN MÃI Tặng tiền cước 3 triệu (áp dụng đặt và nhận hàng từ 1 - 15/6) (đã trừ vào giá) Trả góp 0% thẻ tín dụng Xem chi tiết Lên đời S20+ tài trợ đổi mới 3 triệu đồng Xem chi tiết Ưu đãi phòng chờ thương gia Xem chi tiết Tặng 2 suất mua Đồng hồ thời trang giảm 40% (không áp dụng thêm khuyến mãi khác) (click xem chi tiết)</p>

                        <div class="option-product">
                            <strong>Lựa chọn</strong>
                            <div class="box">
                                 <div class="capacity"> <!--dung lượng -->
                                    <label>Dung lượng:</label>
                                    <select name="" id="">
                                        <option value="">Gold-16gb</option>
                                        <option value="">Gold-32gb</option>
                                        <option value="">Gold-64gb</option>
                                        <option value="">black-16gb</option>
                                        <option value="">black-32gb</option>
                                        <option value="">black-64gb</option>
                                    </select>
                                </div>
                                <div class="quantity">  <!--số lượng -->
                                    <label>Số lượng:</label>
                                    <input type="number" name="" id="">
                                </div>
                            </div>
                        </div>

                        <a href="./thanhtoan.html"><button type="submit">Đặt Hàng</button></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>