<!DOCTYPE HTML>
<html>
<head>
<title>cdcdhn</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="header_top">
			<div class="logo">
				<a href="../index.html"><img src="	../images/logo.png" alt="" /></a>
			</div>
			  <div class="header_top_right">
   	     
		 <div class="clear"></div>
	   </div>
	 <div class="clear"></div>
   </div>
	<div class="topnav" id="myTopnav">
  <a href="../index.html" class="active">TRANG CHỦ</a>
  <a href="./products.html">SẢN PHẨM NỔI BẬT</a>
  <div class="dropdown">
    <button class="dropbtn">CHUYÊN MỤC THEO SẢN PHẨM
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
		<a href="./ip.html">ĐIỆN THOẠI IPHONE</a>
      <a href="./samsung.html">ĐIỆN THOẠI SAMSUNG</a>
      <a href="./ip.html">ĐIỆN THOẠI VINSMART</a>
    </div>
  </div> 
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
 <div class="container"><br>
	<h2> IPHONE</h2>
	<div class="media col-md-12">
		<img class="align-self-top col-md-4" src="../images/ip3.png" alt="">
		<div class="media-body col-md-8">
			<h4 class="mb-0 text-danger pt-5">Giá: 25.899.000đ</h4>
			<p class="p-2">
				KHUYẾN MÃI
Tặng tiền cước 3 triệu (áp dụng đặt và nhận hàng từ 1 - 15/6) (đã trừ vào giá)
Trả góp 0% thẻ tín dụng Xem chi tiết
Lên đời S20+ tài trợ đổi mới 3 triệu đồng Xem chi tiết
Ưu đãi phòng chờ thương gia Xem chi tiết
Tặng 2 suất mua Đồng hồ thời trang giảm 40% (không áp dụng thêm khuyến mãi khác) (click xem chi tiết)
			</p>
			<h5>Lựa chọn</h5>
			<div class="option d-flex">
				<div class="form-group col-md-3">
					<label for="my-select">Dung Lượng: </label>
					
					<select id="my-select" class="custom-select" name="">
						<option>64GB</option>
						<option>32GB</option>
						<option>16GB</option>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="my-select col-md-4">Số lượng: </label>
					<input type="number" name="" id="" class="col-md-8 form-control">
				</div>
			</div>
			<p class="col-md-12 texy-center d-flex justify-content-center">
				<a href="thanhtoan.html" class="btn btn-primary m-3">Đặt Hàng</a>

			</p>
		</div>
	</div>
	
    
</body>
</html>

