<!DOCTYPE HTML>
<html>
<head>
<title>Cơ điện Hà Nội</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="header_top">
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png" alt="" /></a>
			</div>
			  <div class="header_top_right">
   
		 <div class="clear"></div>
	 </div>
	 <div class="clear"></div>
 </div>
	<div class="topnav" id="myTopnav">
  <a href="../index.html" class="active">TRANG CHỦ</a>
  <a href="./Products.html">SẢN PHẨM MỚI</a>
  <div class="dropdown">
    <button class="dropbtn">CHUYÊN MỤC THEO SẢN PHẨM
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
 		<a href="./ip.html">ĐIỆN THOẠI IPHONE</a>
      <a href="./samsung.html">ĐIỆN THOẠI SAMSUNG</a>
      <a href="./ip.html">ĐIỆN THOẠI VINSMART</a>
    </div>
  </div> 
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

 <div class="main">
    <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>Sản Phẩm Mới</h3>
    		</div>
    		<div class="page-no">
    			<p>Result Pages:<ul>
    				<li><a href="#">1</a></li>
    				<li class="active"><a href="#">2</a></li>
    				<li><a href="#">3</a></li>
    				<li>[<a href="#"> Next>>></a >]</li>
    				</ul></p>
    		</div>
    		<div class="clear"></div>
    	</div>
	    <div class="section group">
			<div class="grid_1_of_4 images_1_of_4">
					<a href="preview.html"><img src="./../images/ip4.png" alt="" /></a>
					<h2>iphone </h2>
					<p>Sản phẩm di động</p>
					<p><span class="strike">28.220.000đ</span><span class="price">25.220.000đ</span></p>
					<div class="button"><span><img src="../images/cart.jpg" alt="" /><a href="preview.html" class="cart-button">Đặt Hàng</a></span> </div>
					
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="preview.html"><img src="./../images/s3.png" alt="" /></a>
					<h2>SAMSUNG </h2>
					<p>Sản phẩm di động</p>
					<p><span class="strike">22.890.000đ</span><span class="price">20.870.000đ</span></p>
					<div class="button"><span><img src="../images/cart.jpg" alt="" /><a href="preview.html" class="cart-button">Đặt Hàng</a></span> </div>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="preview.html"><img src="./../images/ip5.png" alt="" /></a>
					<h2>IPHONE</h2>
					<p>Sản phẩm di động</p>
					<p><span class="strike">24.660.000đ</span><span class="price">22.970.000đ</span></p>
					<div class="button"><span><img src="../images/cart.jpg" alt="" /><a href="preview.html" class="cart-button">Đặt Hàng</a></span> </div>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="preview.html"><img src="./../images/s2.png" alt="" /></a>
					<h2>IPHONE</h2>
					<p>Sản phẩm di động</p>
					<p><span class="strike">16.220.000đ</span><span class="price">15.540.000đ</span></p>
					<div class="button"><span><img src="../images/cart.jpg" alt="" /><a href="preview.html" class="cart-button">Đặt Hàng</a></span> </div>
			</div>
		</div>
    </div>
 </div>
</div>
   <div class="footer">
   	 
    </div>
</body>
</html>

