<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile-QT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reponsive.css">
</head>
<body>
    <div class="main">
        <div class="wapper">
            <!-- header -->
            <header>
                <a href="../index.html"><img src="../images/logo.png" alt="Logo smart store" class="logo"></a>
            </header>

            <!-- navigation -->
            <nav> 
                <i class="home fas fa-home"></i>

                <ul class="navbar">
                    <li><a href="../index.html">Trang chủ</a></li>
                    <li><a href="./products-new.html">Sản phẩm mới</a></li>
                    <li><a href="#">Chuyên mục theo sản phẩm</a>
                        <ul class="subnav">
                            <li><a href="./iphone.html">điện thoại Iphone</a></li>
                            <li><a href="./samsung.html">điện thoại Samsung</a></li>
                            <li><a href="./vinsmart.html">điện thoại Vinsmart</a></li>
                        </ul>
                    </li>
                </ul>

                <i class="bars fas fa-bars"></i>
            </nav>

            <!-- thanh toan / payment -->
            <section class="preview payment">
                <h2>Thanh toán <strong>25.899.000đ</strong></h2>

                <div class="container">
                    <div class="image">
                        <img src="../images/s4.png" alt="review iphone">
                    </div>

                    <div class="content">
                        <h3>THÔNG TIN THANH TOÁN</h3>
                        <form action="">
                            <div class="box">
                                <span>HỌ VÀ TÊN:</span>
                                <input type="text" name="" id="" placeholder="Nhập họ và tên">
                            </div>

                            <div class="box">
                                <span>SỐ ĐIỆN THOẠI:</span>
                                <input type="text" name="" id="" placeholder="Nhập sdt">
                            </div>

                            <div class="box">
                                <span>CMND:</span>
                                <input type="text" name="" id="" placeholder="Nhập CMND">
                            </div>

                            <div class="box">
                                <span>NGÂN HÀNG:</span>
                                <select name="" id="">
                                    <option value="">Ngân hàng Techcombank</option>
                                    <option value="">Ngân hàng Agribank</option>
                                    <option value="">Ngân hàng BIDV</option>
                                    <option value="">Ngân hàng Sacombank</option>
                                    <option value="">Ngân hàng MBbank</option>
                                </select>
                            </div>
                        </form>
                        <a href="./ok.html"><button type="submit">Thanh toán</button></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>