<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile-QT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reponsive.css">
</head>
<body>
    <div class="main">
        <div class="wapper">
            <!-- header -->
            <header>
                <a href="../index.html"><img src="../images/logo.png" alt="Logo smart store" class="logo"></a>
            </header>

            <!-- navigation -->
            <nav> 
                <i class="home fas fa-home"></i>

                <ul class="navbar">
                    <li><a href="../index.html">Trang chủ</a></li>
                    <li><a href="./products-new.html">Sản phẩm mới</a></li>
                    <li><a href="#">Chuyên mục theo sản phẩm</a>
                        <ul class="subnav">
                            <li><a href="./iphone.html">điện thoại Iphone</a></li>
                            <li><a href="./samsung.html">điện thoại Samsung</a></li>
                            <li><a href="./vinsmart.html">điện thoại Vinsmart</a></li>
                        </ul>
                    </li>
                </ul>

                <i class="bars fas fa-bars"></i>
            </nav>

            <!-- Iphone -->
            <!-- news-product -->
            <section class="news-product">
                <div class="heading">
                    <h2>VINSMART</h2>
                    <div class="pages">
                        <span>Result Pages: </span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>[ Next >>> ]</span>
                    </div>
                </div>

                <hr>
                
                <div class="list-products">
                    <div class="items">
                        <div class="images">
                            <a href="./preview.html"><img src="../images/h1.png" alt="Iphone s2"></a>
                        </div>
                        <h3>Vinsmart</h3>
                        <small>Sản phẩm di động</small>
                        <div class="price">
                            <strike>22.666.000</strike>
                            <strong>22.666.000</strong>
                        </div>
                        <div class="order">
                            <i></i>
                            <a href="./thanhtoan.html">Đặt hàng</a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="images">
                            <a href="./preview.html"><img src="../images/h2.png" alt="Vinsmart s2"></a>
                        </div>
                        <h3>Vinsmart</h3>
                        <small>Sản phẩm di động</small>
                        <div class="price">
                            <strike>22.666.000</strike>
                            <strong>22.666.000</strong>
                        </div>
                        <div class="order">
                            <i></i>
                            <a href="./thanhtoan.html">Đặt hàng</a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="images">
                            <a href="./preview.html"><img src="../images/h3.png" alt="Vinsmart s2"></a>
                        </div>
                        <h3>Vinsmart</h3>
                        <small>Sản phẩm di động</small>
                        <div class="price">
                            <strike>22.666.000</strike>
                            <strong>22.666.000</strong>
                        </div>
                        <div class="order">
                            <i></i>
                            <a href="./thanhtoan.html">Đặt hàng</a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="images">
                            <a href="./preview.html"><img src="../images/h4.png" alt="Vinsmart s2"></a>
                        </div>
                        <h3>Vinsmart</h3>
                        <small>Sản phẩm di động</small>
                        <div class="price">
                            <strike>22.666.000</strike>
                            <strong>22.666.000</strong>
                        </div>
                        <div class="order">
                            <i></i>
                            <a href="./thanhtoan.html">Đặt hàng</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


